<launch>
 
  <node pkg="master" type="tug_node" name="tug_node1" args="1" output="screen"/>
  <node pkg="master" type="tug_node" name="tug_node2" args="2" output="screen"/>
  <node pkg="master" type="current_waypoints_service" name="current_waypoints_service" output="screen"/>
  <node pkg="master" type="avoid_ship_collision" name="avoid_ship_collision" output="screen"/>
  <node pkg="master" type="master_node" name="master_node" output="screen"/>

</launch>