  <launch>

    <param name="tug1" command="cat $(find simulation)/include/simulation/tug_model.urdf" />
    
    <node pkg="simulation" type="basic_shapes"
          name="basic_shapes" />

    <node pkg="simulation" type="obstacles"
          name="obstacles" />

    <node pkg="rviz" type="rviz" name="my_rviz" args="-d $(find simulation)/include/simulation/map_and_marker.rviz" />
  </launch>
