  <launch>

    <node pkg="turtlesim" type="turtlesim_node" name="sim"/>



    <node pkg="simulation" type="tug_broadcaster"
          args="/turtle1" name="tug1_broadcaster" />
          
    <node pkg="simulation" type="tug_broadcaster"
          args="/turtle2" name="tug2_broadcaster" />

    <node pkg="simulation" type="tug_broadcaster"
          args="/turtle3" name="tug3_broadcaster" />

    <node pkg="simulation" type="tug_mover"
          args="/turtle3" name="tug_mover" />

  </launch>
